body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.75rem;
}

p {
  color: $gray;
  line-height: 1.75rem;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}
