$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

nav {
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
p {
  color: $gray;
}

button {
  background-color: $cyan;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: none;
}

.section {
  padding: 2rem;
}

footer {
  background-color: $very-dark-blue;
}

#hidden {
  display: none;
}

/* Hero Section */
.hero__img--mobile {
  width: 160%;
}
