@import "variables";
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: $gray;
}

nav,
footer {
  padding-top: 2.5rem;
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
p {
  color: $gray;
}

nav,
.hero {
  background-color: white;
}

button {
  background-color: #2acfcf;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.section {
  padding-inline: 2rem;
}

h1,
h2,
h3,
p {
  text-align: center;
}

.shorten__input {
  background-image: url(/images/bg-shorten-mobile.svg);
  background-color: $dark-violet;
  padding: 1rem;
  background-repeat: no-repeat;
  margin: 1rem;
  border-radius: 5px;
  background-size: cover;

  .shorten__input--form {
    display: flex;
    flex-direction: column;
  }
  .shorten__input--field {
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 1rem;
  }
}

.shorten__output {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;

  .shorten__output--short {
    color: $cyan;
  }
}

.feature {
  display: flex;
  flex-direction: column;

  .feature__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .feature__card--img {
      background-color: $very-dark-blue;
      padding: 1.5rem;
      border-radius: 60px;
    }
  }
}

footer {
  background-color: $very-dark-blue;
  .footer__list--item {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $gray;
  }

  .footer__list--header {
    color: $gray;
  }
}

.hidden {
  display: none;
}

/* Hero Section */
.hero__img--mobile {
  width: 160%;
}
