footer {
  background-color: $very-dark-blue;
  .logo__white {
    fill: white;
  }
  ul {
    text-align: center;
    color: white;

    .footer__list--item {
      a {
        color: white;
        text-decoration: none;
      }
    }

    .footer__list--social {
      ul {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
