.hero {
  background-color: white;
  padding: 0;
  .hero__img {
    overflow: hidden;
    transform: translateX(30px);

    .hero__img--mobile {
      width: 130%;
    }
  }
}
.hero__txt {
  @include flex-column;
  @include section-mobile-padding;
  h1,
  p {
    text-align: center;
  }
}
