.shorten__input {
  @include section-mobile-padding;

  .shorten__input--form {
    background-image: url(/images/bg-shorten-mobile.svg);
    background-color: $dark-violet;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: cover;
    @include flex-column;
    @include section-mobile-padding;
    .shorten__input--field {
      padding: 1rem;
      border-radius: 5px;
      outline: none;
      border: none;
      margin-bottom: 1rem;
      .shorten__input--field {
        padding: 1rem;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-right: 1rem;
      }
      .btn__shorten {
        width: auto;
      }
    }
  }
}
